.html{
    background: red;
    font-size: 20px;
    color: white;
}
.css
    p{
     background: gold;
     color:white;
     font-size: 20px;
    }
.css
    h4{
        background: green;
        color: white;
        font-size: 15p;
    }
    #er{
       background: green; 
    }
    
    style{
        background: blue;
        font-size: 2px;
    }
    #uk{
        background: brown;
        color: white;
    }
